button {
    border-radius: 25px;
    width: 280px;

    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.25em;
    font-weight: 650;
    font-family: inherit;
    background-color: #19a5ca;
    color : #fff;
    cursor: pointer;
    transition: border-color 0.25s;

}

h2{
    font-size: 2.6em;
    line-height: 3;
    color: #19A5CA;
    margin-left: 100px;
    margin-top: 20px;
}

.textt {
    font-size: 1.25rem;
    font-weight:500;
    margin-left: 880px;
    color: #19A5CA;
}

form{
    margin-left: 880px;
    margin-top: -40px;
    
}

.text2{
    font-size: 1.25rem;
    font-weight:500;
    color: #19A5CA;
    margin-bottom: 8px;
}

.text5{
    font-size: 0.85rem;
    font-weight:400;
    color: #000000;
    margin-left: 155px;
    margin-top: 5px;
}

input{
    width: 270px;
    border: none;
    border-bottom: 1px solid #19A5CA;;
    background-color: transparent;
    outline: none;
    color: #000000;
    margin-left: center;
}

.text3{
    font-size: 0.8rem;
    font-weight:450;
    color: #19A5CA;
    margin-left: center;
    
}

.container-register{
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 16px;
    margin-left: center;
    margin-top: -20px;
}



