body {
  background-image: url('/src/assets/2.jpg');
  /* Replace with the path to your image */
  background-size: cover;
  
  background-repeat: no-repeat;
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  font-family: Poppins, sans-serif;
  /* Ensure consistent font across the page */
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}





.text {
  font-size: 1.15rem;
  font-weight: 500;
  margin-left: 20px;
  font-family: Prompt, sans-serif;
  color: #19A5CA;
  margin-bottom: 8px;

}

.container2 {
  
  width: 140px;
  border-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 40px;
  margin-top: 20px;
  margin-left: 10px;
}

.text-2 {
  font-size: 1.0rem;
  font-weight: 100;
  font-family: Prompt, sans-serif;

  margin-left: 20px;

  color: #19A5CA;
  margin-bottom: 8px;
}

.button1 {
  font-family: Poppins, sans-serif;
  border-radius: 16px;
  background-color: #19a5ca;
  color: #fff;
  white-space: nowrap;
  justify-content: center;

  @media (max-width: 991px) {
    white-space: initial;
    padding: 0 20px;
  }
}


.container {
  width: 1150px;
  
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 27px 20px;
  margin-left: 20px;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}

.header {
  color: #19a5ca;
  align-self: start;
  margin-left: 22px;
  font: 500 32px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .header {
    margin-left: 10px;
  }
}

.header1 {
  color: #19a5ca;
  align-self: start;
  margin-left: 30px;
  font-family:30px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .header {
    margin-left: 10px;
  }
}

.uploadSection {
  border-radius: 16px;
  border: 1px solid rgba(198, 198, 198, 1);
  font-family: Prompt, sans-serif;
  background-color: #fff;
  display: flex;
  margin-top: 39px;
  flex-direction: column;
  font-weight: 400;
  padding: 12px 0 76px;
}

@media (max-width: 991px) {
  .uploadSection {
    max-width: 100%;
  }
}

.uploadHeader {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-family: Prompt, sans-serif;
  justify-content: space-between;
  margin: 0 22px;
  padding: 0 1px;
}

@media (max-width: 991px) {
  .uploadHeader {
    max-width: 100%;
    margin-right: 10px;
    flex-wrap: wrap;
  }
}

.documentType {
  display: flex;
  font-family: Prompt, sans-serif;
  gap: 19px;
  white-space: nowrap;
  margin: auto 0;
}

@media (max-width: 991px) {
  .documentType {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}

.typeLabel {
  color: #19a5ca;
  font-family: Prompt, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}

.typePlaceholder {
  font-family: Prompt, sans-serif;
  border-radius: 8px;
  border: 1px solid rgba(198, 198, 198, 1);
  background-color: #fff;
  color: #c6c6c6;
  justify-content: center;
  flex-grow: 1;
  width: fit-content;
  padding: 9px 15px;
}

@media (max-width: 991px) {
  .typePlaceholder {
    padding-right: 20px;
    white-space: initial;
  }
}

.uploadInfo {
  display: flex;
  gap: 16px;
  font-family: Prompt, sans-serif;
}

.fileInfo {
  color: #c6c6c6;
  font-family: Prompt, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}

.confirmButtonContainer button{
  width: 100px;
  font-size: 16px;
  font-family: Prompt, sans-serif;
  border-radius: 16px;
  background-color: #19a5ca;
  color: #fff;
  white-space: nowrap;
  justify-content: center;
  padding: 10px ;
}

@media (max-width: 991px) {
  .confirmButtonContainer {
    white-space: initial;
    padding: 0 20px;
  }
}

.divider2 {
  font-family: Prompt, sans-serif;
  border: 1px solid rgba(198, 198, 198, 1);
  background-color: #c6c6c6;
  margin-top: 9px;
  height: 1px;
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
  }
}

.dropZone {
  color: #b6b6b6;
  margin-top: 20px;
  font-family: Prompt, sans-serif;
 
}

@media (max-width: 991px) {
  .dropZone {
    margin-top: 40px;
  }
}

.documentSearch {
  display: flex;
  gap: 19px;
  white-space: nowrap;
  margin: auto 0;
}

@media (max-width: 991px) {
  .documentSearch {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}

.searchLabel {
  color: #19a5ca;
  font-family: Prompt, sans-serif;
  
  align-self: start;
  margin-left: 30px;
  margin-top: 15px;
}

.searchPlaceholder {
  font-family: Prompt, sans-serif;
  border-radius: 8px;
  border: 1px solid rgba(198, 198, 198, 1);
  background-color: #fff;
  color: #c6c6c6;
  justify-content: center;
  height: 28px;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .searchPlaceholder {
    padding-right: 20px;
    white-space: initial;
  }
}

.input1 {
  font-family: Prompt, sans-serif;
  border: none;
  background-color: transparent;
  outline: none;
  color: #000000;
  text-decoration:none;
}

.status-success{
  background-color: #19CA8A;
  
}

.status-inprocess{
  background-color: #19A5CA;
}

.logout button{
  width: 220px;
  
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  margin-top: 20px;
  margin-left: 10px;
}